.container {
  max-width: 1300px !important;
  margin: 0 auto;
  position: relative;
}

@media (max-width: 1300px) {
  .container {
    padding: 0 1.5rem;
  }
}
@media (max-width: 425px) {
  .main-container {
    max-width: 100%;
    padding: 0 16px; /* Add some padding to prevent content from touching the edges */
  }
}
